.usersTitle {
   text-align: center;
}

.usersWrap {
   display: flex;
   justify-content: space-between;
}

.user {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.user img {
   width: 150px;
   border-radius: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.user p {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
}

.user span {
   font-style: italic;
}