@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.converter {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}

.block input {
   border: 1px solid rgba(0, 0, 0, 0.1);
   font-size: 3rem;
   font-weight: bold;
   padding: 20px 20px;
   letter-spacing: 1.3px;
   outline: none;
   margin-top: 20px;
   border-radius: 5px;
   width: 100%;
  }

.currencies {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   border-radius: 5px;
   overflow: hidden;
}

.currencies li {
   display: inline-flex;
   padding: 10px 20px;
   border-right: 1px solid rgba(0, 0, 0, 0.05);
   cursor: pointer;
   justify-content: center;
   flex: 1;
   margin-bottom: 0;
}

.currencies .active {
   background-color: #16b67f;
   color: #fff;
}

.currencies:last-of-type {
   display: inline-flex;
   align-items: center;
   flex: 0 0 50px;
   border-right: 0;
}

.currencies svg {
   width: 16px;
   height: 16px;
}
